<a id='TOC'></a>

# Table of Contents
1. [Things to Do](#Things-to-Do)
1. [Introduction](#Introduction)
1. [Set up Python](#Set-up-Python)
2. [Functions](#Functions)
3. [Getting Data](#Get-Data)
4. [Analyze Data](#Analyze-Data):
    - [Population Size](#Population-Size)
    - [Species Distribution](#Species-Distribution)
    - [Sex Distribution](#Sex-Distribution)
    - [Tail Condition Distribution](#Tail-Condition-Distribution)
    - [Location](#Location)
    - [Morphometrics](#Morphometrics):
        - [SVL](#SVL)
        - [TL](#TL)
        - [RTL](#RTL)
        - [Mass](#Mass)
    - [Survival and Rates and Likelihood of Recapture](#Survival-and-Rates-and-Likelihood-of-Recapture)
    - [Captures](#Captures)
    - [Growth](#Growth)
        - [SVL Growth](#SVL-Growth)
5. [Export Files](#Export-Files)

# Things to Do


## [Resume Here](#resume)

## Introduction

This notebook contains code and output of descriptive analyses for the 2000-2017 CC dataset after cleaning.

The objectives of this notebook are to describe the community of the _Sceloporus jarrovii_ and _Sceloporus virgatus_ lizards in the Crystal Creek wash from 2000 until 2017.  The population demographic metrics we examine are: [population size](#Population-Size), [sex distribution](#Sex-Distribution), [tail condition distribution](#Tail-Condition-Distribution), [location](#Location), [morphometrics](#Morphometrics) -- [SVL](#SVL), [TL](#TL), [RTL](#RTL), [mass](#Mass) --,  [survival and rates and likelihood of recapture](#Survival-and-Rates-and-Likelihood-of-Recapture), and [growth](#Growth).

We will examine these metrics and interactions among them with particular interest in the impact of environmental factors from year to year.

##  Set up Python

First we will need to set up the python environment, importing the necessary packages and setting the display options.

[Top](#TOC)

In [1]:
import pandas as pd
import numpy as np
import os, glob, logging
from summary_functions import *
from scipy import stats
from monthlit import *


import plotly
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
plotly.tools.set_config_file(world_readable=True)


# increase print limit
pd.options.display.max_rows = 99999
pd.options.display.max_columns = 50

### Setting File Locations

In [2]:
deviceDict = {'dataBig':{'source':'S:/Chris/TailDemography/TailDemography/outputFiles'
                         ,'log':'S:/Chris/TailDemography/TailDemography/Scripts and notes/Descriptive/'
                         ,'output':'S:/Chris/TailDemography/TailDemography/outputFiles/'},
              'silverSurfer':{'source':'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\outputFiles'
                              ,'log':'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\Scripts and notes\\Descriptive\\'
                              ,'output':'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\outputFiles\\Descriptive\\'}
              ,'dataPers':{'source':'C:/Users/Christopher/Google Drive/TailDemography/outputFiles'
                           ,'log': 'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\Scripts and notes\\Descriptive\\'
                           ,'output':'C:/Users/Christopher/Google Drive/TailDemography/outputFiles/Descriptve/'}}

### Choose Device

In [3]:
device = deviceDict['silverSurfer']
device

{'source': 'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\outputFiles',
 'log': 'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\Scripts and notes\\Descriptive\\',
 'output': 'C:\\Users\\craga_eowcrpe\\Google Drive\\TailDemography\\outputFiles\\Descriptive\\'}

# Source Data

### Logging

In [4]:
logging.basicConfig(filename=device['log']+'Desriptive Analyses.log'
                    , filemode='a',
                    format='%(funcName)s - %(levelname)s - %(message)s - %(asctime)s', level=logging.DEBUG)

## Functions

This section contains functions that were created for this notebook.

- [distribution](#distribution) #delete this we will use scipy stats describe instead
- [monthlit](#monthlit)
- [description](#description)

### distribution
[Back to Top](#TOC)

[Back to Functions](#Functions)

*distribution* takes a series or list of numeric objects, *x*, and returns descriptive stats of x including
        n, minimum, maximum, median, sIQR, mean, and stdev
    
Here are a few examples of how *distribution* works.

In [5]:
foo = [0,1,2,'r']
distribution(foo)

In [6]:
bar = [0,1,2]
distribution(bar)

   n  minimum  maximum  median  siqr  mean  stdev
0  3        0        2     1.0   0.5   1.0    1.0

[Back to Functions](#Functions)

## monthlit
[Back to Top](#TOC)

[Back to Functions](#Functions)

Here are a few examples of how _monthlit_ works.

In [7]:
dates = pd.DataFrame(data={'dates':['2018-12-9','2019-8-5', '2017/7/4',np.nan,None]})
dates.dates = pd.to_datetime(dates.dates)
dates

       dates
0 2018-12-09
1 2019-08-05
2 2017-07-04
3        NaT
4        NaT

In [8]:
np.isnan(np.nan)

True

In [9]:
monthlit(dates.dates.dt.month[0])

'Dec'

In [10]:
dates.dates.dt.month.apply(monthlit)

0    Dec
1    Aug
2    Jul
3    NaN
4    NaN
Name: dates, dtype: object

[Back to Functions](#Functions)

## description
[Back to Top](#TOC)

[Back to Functions](#Functions)

In [86]:
def description(x,gvariables,variable,percentage=False):
    if percentage:
            res = x.groupby(gvariables)[variable].describe()
            res[['mean','std','min','25%','50%','75%','max']] = res[['mean','std','min','25%','50%','75%','max']]\
            .apply(lambda x:x*100) 
            res['meanCI'] = 'not calculated'
#Need to Add CI calculation to this function
#             meanCI = 'not calculated'
    else:
        res = x.groupby(gvariables)[variable].describe() 
    return res

[Back to Functions](#Functions)

We'll display all files in the source folder with the prefix _'cleaned CC data 2000-2017'_. The file names will be saved in a variable, _mysourcefiles_.

## Get Data
[Top](#TOC)

Here we can set the locations from which we get data and to which we export it.

In [11]:
os.chdir(device['source'])
mysourcefiles = glob.glob('cleaned CC data 2000-2017_*.csv')
mysourcefiles

['cleaned CC data 2000-2017_2019-01-31 01hrs43min.csv',
 'cleaned CC data 2000-2017_2019-03-10 14hrs42min.csv',
 'cleaned CC data 2000-2017_2019-03-12 21hrs48min.csv',
 'cleaned CC data 2000-2017_2019-03-12 22hrs52min.csv',
 'cleaned CC data 2000-2017_2019-03-12 22hrs55min.csv',
 'cleaned CC data 2000-2017_2019-04-25 00hrs58min.csv',
 'cleaned CC data 2000-2017_2019-04-25 01hrs00min.csv',
 'cleaned CC data 2000-2017_2019-05-02 00hrs17min.csv',
 'cleaned CC data 2000-2017_2019-05-02 01hrs03min.csv',
 'cleaned CC data 2000-2017_2019-05-02 01hrs08min.csv',
 'cleaned CC data 2000-2017_2019-05-04 00hrs33min.csv']

In [12]:
pd.to_datetime(mysourcefiles[0].split("_")[1].split(".csv")[0].split(' ')[0])

Timestamp('2019-01-31 00:00:00')

Automate getting the latest file

In [13]:
[latestFile for latestFile in mysourcefiles if \
 max({pd.to_datetime(afile.split("_")[1].split(".csv")[0].split(' ')[0]) \
      for afile in mysourcefiles}) == pd.to_datetime(latestFile.split("_")\
                                                     [1].split(".csv")[0].split(' ')[0])]

['cleaned CC data 2000-2017_2019-05-04 00hrs33min.csv']

In [14]:
min({afile.split(' ')[-1].replace('hrs','').replace('min.csv','') for afile in mysourcefiles})

'0017'

In [15]:
latest = mysourcefiles[-1]
latest

'cleaned CC data 2000-2017_2019-05-04 00hrs33min.csv'

The most recent file is the one we will use as _df_ in our descriptive analysis.

In [16]:
df=pd.read_csv(latest)
df.head()

,species,toes_orig,sex,date,svl,tl,rtl,autotomized,mass,location,meters,newRecap,painted,sighting,paint.mark,vial,misc,rtl_orig,toes,toe_pattern,description,action,pattern_b,replacement,year,tl_svl,mass_svl,all_meters,initialCaptureDate,year_diff,smallest_svl,svl_diff,liznumber,sex_count,daysSinceCapture,capture
0,j,3-7-11-19,m,2002-07-14,63.0,92.0,0.0,False,10.0,halfway up to site,-200,N,NaN,NaN,b101t,toes in vial 58-02,NaN,0.0,3-7-11-19,NaN,NaN,NaN,NaN,NaN,2002,1.460317,0.158730,['-200'],2002-07-14,0,63.0,0.0,375,1,0,1
1,j,3-7-11-18,m,2002-07-14,66.0,92.0,0.0,False,10.8,left downstream 100m v 1 falls,-100,N,NaN,NaN,b102t,toes in vial 59-02,NaN,0.0,3-7-11-18,NaN,NaN,NaN,NaN,NaN,2002,1.393939,0.163636,['-100' '87'],2002-07-14,0,66.0,0.0,374,1,0,1
2,j,3-7-12-16,m,2002-07-14,68.0,103.0,0.0,False,10.3,90m v 1 falls,-90,N,NaN,NaN,b103t,toes in vial 60-02,NaN,0.0,3-7-12-16,NaN,NaN,NaN,NaN,NaN,2002,1.514706,0.151471,['-90'],2002-07-14,0,68.0,0.0,376,1,0,1
3,j,10,m,2002-07-14,85.0,118.0,0.0,False,19.5,sb - trail intersection v 1 falls,-20,R,toe loss may be natural,NaN,b104t,NaN,NaN,0.0,10,NaN,NaN,NaN,NaN,NaN,2002,1.388235,0.229412,['-20' '-12' '-35'],2002-07-14,0,85.0,0.0,830,2,0,1
4,v,10-16,f,2002-07-03,63.0,49.0,21.0,True,11.6,left side @ base juniper 8 m ^ sb; 15m v 1 falls,-15,N,painted; gravid; <5 mites in pockets,NaN,w1a,toes in vial 34-02 (10-16),NaN,21.0,10-16,NaN,NaN,NaN,NaN,NaN,2002,0.777778,0.184127,['-15'],2002-07-03,0,63.0,0.0,1414,1,0,1

## Analyze Data
[Top](#TOC)

We will first examine the range and distribution of number of variables in our data set:
- [Population Size](#Population-Size)
- [Species Distribution](#Species-Distribution)
- [Sex Distribution](#Sex-Distribution)
- [Tail Condition Distribution](#Tail-Condition-Distribution)
- [Location](#Location)
- [Morphometrics](#Morphometrics):
    - [SVL](#SVL)
    - [TL](#TL)
    - [RTL](#RTL)
    - [Mass](#Mass)
- [Survival and Rates and Likelihood of Recapture](#Survival-and-Rates-and-Likelihood-of-Recapture)
- [Captures](#Captures)
- [Growth](#Growth)
    - [SVL Growth](#SVL-Growth)
We will use first captures of each lizard in a year for these analyses.

## Reducing the analyses sample by date range and capture

In [17]:
# convert date to pandas datetime
#df.date=pd.to_datetime(df.date)
# limiting months to between May and August
# df = df.loc[(df.date.dt.month>=5) & (df.date.dt.month<=8)]
# limit to first captures
df_lastInYear = df.loc[~df.duplicated(subset=['liznumber','year'],keep='last')]
df_firstInYear = df.loc[~df.duplicated(subset=['liznumber','year'])]

In [18]:
df_firstInYear.species.value_counts(dropna=False)

j        1493
v         716
other     215
sj?         1
Name: species, dtype: int64

These values should only be _'j', 'v', and 'other'_ any other values will be removed in the cleaning notebook and excluded from further analyses here.

In [19]:
df_firstInYear = df_firstInYear.loc[df_firstInYear.species.isin(['j','v','other'])]
df_firstInYear.species.value_counts(dropna=False)

j        1493
v         716
other     215
Name: species, dtype: int64

### Population Size

We will begin by examining the range and distribution of _species_ values.

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [20]:
populationSize = df_firstInYear.groupby(['year','species']).liznumber.nunique().reset_index()
populationSize

    year species  liznumber
0   2000       j        155
1   2001       j        137
2   2001   other          1
3   2002       j        121
4   2002   other         20
5   2002       v         80
6   2003       j        103
7   2003   other         25
8   2003       v         74
9   2004       j         73
10  2004   other         19
11  2004       v         61
12  2005       j         80
13  2005   other         21
14  2005       v         59
15  2006       j         66
16  2006   other         24
17  2006       v         60
18  2007       j         96
19  2007   other         12
20  2007       v         43
21  2008       j         89
22  2008   other          6
23  2008       v         31
24  2009       j        105
25  2009   other          5
26  2009       v         45
27  2010       j         54
28  2010   other          3
29  2010       v         26
30  2011       j         46
31  2011   other          4
32  2011       v         15
33  2012       j         51
34  2012   other          9
35  2012       v         23
36  2013       j         55
37  2013   other         11
38  2013       v         31
39  2014       j         44
40  2014   other         11
41  2014       v         53
42  2015       j         82
43  2015   other         31
44  2015       v         49
45  2016       j         61
46  2016   other         11
47  2016       v         36
48  2017       j         75
49  2017   other          2
50  2017       v         30

In [21]:
Sjarrovii = go.Scatter(x = populationSize.loc[populationSize.species=='j'].year
           , y = populationSize.loc[populationSize.species=='j'].liznumber
          ,name = 'S. jarrovii')
Svirgatus = go.Scatter(x = populationSize.loc[populationSize.species=='v'].year
           , y = populationSize.loc[populationSize.species=='v'].liznumber
          ,name = 'S. virgatus')
data = [Sjarrovii, Svirgatus]
layout = go.Layout(
    title = 'Population Size for Sceloporus jarrovii and S. virgatus 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18),
        range = [1999.5,2017.5]),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18))
)
fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'Population Size for Sceloporus jarrovii and S. virgatus 2000-2017.html')

In [94]:
description(populationSize,['species'],'liznumber')

         count       mean        std   min    25%   50%     75%    max
species
j         18.0  82.944444  31.733212  44.0  56.50  77.5  101.25  155.0
other     17.0  12.647059   9.096299   1.0   5.00  11.0   20.00   31.0
v         16.0  44.750000  18.742109  15.0  30.75  44.0   59.25   80.0

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

### Sex Distribution

We will begin by examining the range and distribution of _sex_ values.

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [22]:
df_firstInYear.sex.value_counts(dropna=False)

f       1250
m       1143
NaN       26
n          2
[m]        1
f`         1
male       1
Name: sex, dtype: int64

These values should only be _'m' and 'f'_.  Any other values will be removed in the cleaning notebook and excluded from further analyses here.

In [23]:
df_firstInYear = df_firstInYear.loc[df_firstInYear.sex.isin(['m','f'])]
df_firstInYear.sex.value_counts(dropna=False)

f    1250
m    1143
Name: sex, dtype: int64

In [45]:
populationSize_sex_species = df_firstInYear.groupby(['year','species','sex']).liznumber.nunique().reset_index()\
.merge(df_firstInYear.groupby(['year','species']).liznumber.nunique().reset_index()\
       .rename(columns={'liznumber':'liznumberYear'}),
       on=['year','species'])
populationSize_sex_species\
.loc[populationSize_sex_species.sex=='m','propMale'] = populationSize_sex_species\
.loc[populationSize_sex_species.sex=='m'].liznumber/populationSize_sex_species\
.loc[populationSize_sex_species.sex=='m'].liznumberYear
populationSize_sex_species\
.loc[populationSize_sex_species.sex=='f','propFemale'] = (populationSize_sex_species\
.loc[populationSize_sex_species.sex=='f'].liznumber/populationSize_sex_species\
.loc[populationSize_sex_species.sex=='f'].liznumberYear)
populationSize_sex_species

    year species sex  liznumber  liznumberYear  propMale  propFemale
0   2000       j   f         84            153       NaN    0.549020
1   2000       j   m         69            153  0.450980         NaN
2   2001       j   f         72            135       NaN    0.533333
3   2001       j   m         63            135  0.466667         NaN
4   2001   other   m          1              1  1.000000         NaN
5   2002       j   f         67            119       NaN    0.563025
6   2002       j   m         52            119  0.436975         NaN
7   2002   other   f         12             20       NaN    0.600000
8   2002   other   m          8             20  0.400000         NaN
9   2002       v   f         38             79       NaN    0.481013
10  2002       v   m         41             79  0.518987         NaN
11  2003       j   f         54             97       NaN    0.556701
12  2003       j   m         43             97  0.443299         NaN
13  2003   other   f         20             25       NaN    0.800000
14  2003   other   m          5             25  0.200000         NaN
15  2003       v   f         34             74       NaN    0.459459
16  2003       v   m         40             74  0.540541         NaN
17  2004       j   f         38             70       NaN    0.542857
18  2004       j   m         32             70  0.457143         NaN
19  2004   other   f         15             19       NaN    0.789474
20  2004   other   m          4             19  0.210526         NaN
21  2004       v   f         29             61       NaN    0.475410
22  2004       v   m         32             61  0.524590         NaN
23  2005       j   f         36             79       NaN    0.455696
24  2005       j   m         43             79  0.544304         NaN
25  2005   other   f         13             21       NaN    0.619048
26  2005   other   m          8             21  0.380952         NaN
27  2005       v   f         20             59       NaN    0.338983
28  2005       v   m         39             59  0.661017         NaN
29  2006       j   f         36             66       NaN    0.545455
30  2006       j   m         30             66  0.454545         NaN
31  2006   other   f          8             22       NaN    0.363636
32  2006   other   m         14             22  0.636364         NaN
33  2006       v   f         21             60       NaN    0.350000
34  2006       v   m         39             60  0.650000         NaN
35  2007       j   f         54             94       NaN    0.574468
36  2007       j   m         40             94  0.425532         NaN
37  2007   other   f          6             12       NaN    0.500000
38  2007   other   m          6             12  0.500000         NaN
39  2007       v   f         22             42       NaN    0.523810
40  2007       v   m         20             42  0.476190         NaN
41  2008       j   f         44             88       NaN    0.500000
42  2008       j   m         44             88  0.500000         NaN
43  2008   other   f          4              5       NaN    0.800000
44  2008   other   m          1              5  0.200000         NaN
45  2008       v   f         19             31       NaN    0.612903
46  2008       v   m         12             31  0.387097         NaN
47  2009       j   f         54            105       NaN    0.514286
48  2009       j   m         51            105  0.485714         NaN
49  2009   other   f          2              5       NaN    0.400000
50  2009   other   m          3              5  0.600000         NaN
51  2009       v   f         27             45       NaN    0.600000
52  2009       v   m         18             45  0.400000         NaN
53  2010       j   f         27             54       NaN    0.500000
54  2010       j   m         27             54  0.500000         NaN
55  2010   other   m          3              3  1.000000         NaN
56  2010       v   f         13             26       NaN    0.500000
57  2010       v   m         13             26  0.500000         NaN
58  2011       j   f         26             45       NaN    0.577778
59  2011       j   m         19             45  0.422222         NaN
60  2011   other   f          3              4       NaN    0.750000
61  2011   other   m          1              4  0.250000         NaN
62  2011       v   f          7             15       NaN    0.466667
63  2011       v   m          8             15  0.533333         NaN
64  2012       j   f         31             51       NaN    0.607843
65  2012       j   m         20             51  0.392157         NaN
66  2012   other   f          8              9       NaN    0.888889
67  2012   other   m          1              9  0.111111         NaN
68  2012       v   f          8             23       NaN    0.347826
69  2012       v   m         15             23  0.652174         NaN
70  2013       j   f         30             55       NaN    0.545455
71  2013       j   m         25             55  0.454545         NaN
72  2013   other   f          6             11       NaN    0.545455
73  2013   other   m          5             11  0.454545         NaN
74  2013       v   f         15             31       NaN    0.483871
75  2013       v   m         16             31  0.516129         NaN
76  2014       j   f         29             44       NaN    0.659091
77  2014       j   m         15             44  0.340909         NaN
78  2014   other   f          6             11       NaN    0.545455
79  2014   other   m          5             11  0.454545         NaN
80  2014       v   f         23             53       NaN    0.433962
81  2014       v   m         30             53  0.566038         NaN
82  2015       j   f         41             82       NaN    0.500000
83  2015       j   m         41             82  0.500000         NaN
84  2015   other   f         21             31       NaN    0.677419
85  2015   other   m         10             31  0.322581         NaN
86  2015       v   f         19             47       NaN    0.404255
87  2015       v   m         28             47  0.595745         NaN
88  2016       j   f         31             61       NaN    0.508197
89  2016       j   m         30             61  0.491803         NaN
90  2016   other   f          4             11       NaN    0.363636
91  2016   other   m          7             11  0.636364         NaN
92  2016       v   f         14             35       NaN    0.400000
93  2016       v   m         21             35  0.600000         NaN
94  2017       j   f         41             73       NaN    0.561644
95  2017       j   m         32             73  0.438356         NaN
96  2017   other   f          1              2       NaN    0.500000
97  2017   other   m          1              2  0.500000         NaN
98  2017       v   f         17             29       NaN    0.586207
99  2017       v   m         12             29  0.413793         NaN

In [53]:
Sjarrovii = go.Scatter(x = populationSize_sex_species.loc[(populationSize_sex_species.species=='j')
                                                          &(populationSize_sex_species.propMale.notna())].year
           , y = populationSize_sex_species.loc[(populationSize_sex_species.species=='j')
                                                &(populationSize_sex_species.propMale.notna())].propMale
          ,name = 'S. jarrovii')
Svirgatus = go.Scatter(x = populationSize_sex_species.loc[(populationSize_sex_species.species=='v')
                                                          &(populationSize_sex_species.propMale.notna())].year
           , y = populationSize_sex_species.loc[(populationSize_sex_species.species=='v')
                                                &(populationSize_sex_species.propMale.notna())].propMale
          ,name = 'S. virgatus')
data = [Sjarrovii,Svirgatus]
layout = go.Layout(
    title = 'Proportion of Males by Species and Year for Sceloporus jarrovii and S. virgatus 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18),
        range = [1999.5,2017.5]),
    yaxis = dict(
        tickformat = ".2%",
        title = 'Percentage of Males',
        titlefont = dict(
            size = 18),
    range = [0,1])
    
)
fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'Proportion of Males by Species and Year for Sceloporus jarrovii and S. virgatus 2000-2017.html')

In [90]:
description(populationSize_sex_species,'species','propMale',True)

,count,mean,std,min,25%,50%,75%,max,meanCI
species,,,,,,,,,
j,18.0,45.584179,4.610737,34.090909,43.732013,45.454545,49.028103,54.430380,not calculated
other,17.0,46.217580,25.741266,11.111111,25.000000,45.454545,60.000000,100.000000,not calculated
v,16.0,53.347713,8.637343,38.709677,49.404762,52.896175,59.680851,66.101695,not calculated

<a id = 'Autotomy'></a>

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

### Tail Condition Distribution

Here we look at the proportion of individuals in our data who have experienced autotomy.

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [26]:
df_firstInYear.autotomized.value_counts(dropna=False)

False    1754
True      638
NaN         1
Name: autotomized, dtype: int64

These values should only be _'False'_ and _'True'_.  Any other values will be removed in the cleaning notebook and excluded from further analyses here.

In [27]:
df_firstInYear_aut = df_firstInYear.loc[df_firstInYear.autotomized.isin([False,True])]
df_firstInYear_aut.autotomized.value_counts(dropna=False)

False    1754
True      638
Name: autotomized, dtype: int64

In [36]:
populationSize_aut_species = df_firstInYear_aut.groupby(['year','species','autotomized']).liznumber.nunique()\
.reset_index()\
.merge(df_firstInYear_aut.groupby(['year','species']).liznumber.nunique().reset_index()\
       .rename(columns={'liznumber':'liznumberYear'})
       ,on=['year','species'])
populationSize_aut_species\
.loc[populationSize_aut_species.autotomized,'propAutotomized'] = populationSize_aut_species\
.loc[populationSize_aut_species.autotomized].liznumber/populationSize_aut_species\
.loc[populationSize_aut_species.autotomized].liznumberYear
populationSize_aut_species\
.loc[~populationSize_aut_species.autotomized,'propIntact'] = (populationSize_aut_species\
.loc[~populationSize_aut_species.autotomized].liznumber/populationSize_aut_species\
.loc[~populationSize_aut_species.autotomized].liznumberYear)
populationSize_aut_species

,year,species,autotomized,liznumber,liznumberYear,propAutotomized,propIntact
0,2000,j,False,106,153,NaN,0.692810
1,2000,j,True,47,153,0.307190,NaN
2,2001,j,False,97,135,NaN,0.718519
3,2001,j,True,38,135,0.281481,NaN
4,2001,other,False,1,1,NaN,1.000000
5,2002,j,False,86,119,NaN,0.722689
6,2002,j,True,33,119,0.277311,NaN
7,2002,other,False,9,20,NaN,0.450000
8,2002,other,True,11,20,0.550000,NaN
9,2002,v,False,65,79,NaN,0.822785
10,2002,v,True,14,79,0.177215,NaN
11,2003,j,False,72,97,NaN,0.742268
12,2003,j,True,25,97,0.257732,NaN
13,2003,other,False,21,25,NaN,0.840000
14,2003,other,True,4,25,0.160000,NaN
15,2003,v,False,64,74,NaN,0.864865
16,2003,v,True,10,74,0.135135,NaN
17,2004,j,False,45,70,NaN,0.642857
18,2004,j,True,25,70,0.357143,NaN
19,2004,other,False,14,19,NaN,0.736842
20,2004,other,True,5,19,0.263158,NaN
21,2004,v,False,46,60,NaN,0.766667
22,2004,v,True,14,60,0.233333,NaN
23,2005,j,False,50,79,NaN,0.632911
24,2005,j,True,29,79,0.367089,NaN
25,2005,other,False,17,21,NaN,0.809524
26,2005,other,True,4,21,0.190476,NaN
27,2005,v,False,47,59,NaN,0.796610
28,2005,v,True,12,59,0.203390,NaN
29,2006,j,False,46,66,NaN,0.696970
30,2006,j,True,20,66,0.303030,NaN
31,2006,other,False,14,22,NaN,0.636364
32,2006,other,True,8,22,0.363636,NaN
33,2006,v,False,45,60,NaN,0.750000
34,2006,v,True,15,60,0.250000,NaN
35,2007,j,False,80,94,NaN,0.851064
36,2007,j,True,14,94,0.148936,NaN
37,2007,other,False,7,12,NaN,0.583333
38,2007,other,True,5,12,0.416667,NaN
39,2007,v,False,32,42,NaN,0.761905
40,2007,v,True,10,42,0.238095,NaN
41,2008,j,False,62,88,NaN,0.704545
42,2008,j,True,26,88,0.295455,NaN
43,2008,other,False,3,5,NaN,0.600000
44,2008,other,True,2,5,0.400000,NaN
45,2008,v,False,24,31,NaN,0.774194
46,2008,v,True,7,31,0.225806,NaN
47,2009,j,False,76,105,NaN,0.723810
48,2009,j,True,29,105,0.276190,NaN
49,2009,other,False,4,5,NaN,0.800000
50,2009,other,True,1,5,0.200000,NaN
51,2009,v,False,36,45,NaN,0.800000
52,2009,v,True,9,45,0.200000,NaN
53,2010,j,False,34,54,NaN,0.629630
54,2010,j,True,20,54,0.370370,NaN
55,2010,other,False,3,3,NaN,1.000000
56,2010,v,False,22,26,NaN,0.846154
57,2010,v,True,4,26,0.153846,NaN
58,2011,j,False,27,45,NaN,0.600000
59,2011,j,True,18,45,0.400000,NaN
60,2011,other,False,3,4,NaN,0.750000
61,2011,other,True,1,4,0.250000,NaN
62,2011,v,False,10,15,NaN,0.666667
63,2011,v,True,5,15,0.333333,NaN
64,2012,j,False,38,51,NaN,0.745098
65,2012,j,True,13,51,0.254902,NaN
66,2012,other,False,3,9,NaN,0.333333
67,2012,other,True,6,9,0.666667,NaN
68,2012,v,False,20,23,NaN,0.869565
69,2012,v,True,3,23,0.130435,NaN
70,2013,j,False,35,55,NaN,0.636364
71,2013,j,True,20,55,0.363636,NaN
72,2013,other,False,8,11,NaN,0.727273
73,2013,other,True,3,11,0.272727,NaN
74,2013,v,False,20,31,NaN,0.645161
75,2013,v,True,11,31,0.354839,NaN
76,2014,j,False,30,44,NaN,0.681818
77,2014,j,True,14,44,0.318182,NaN
78,2014,other,False,9,11,NaN,0.818182
79,2014,other,True,2,11,0.181818,NaN
80,2014,v,False,44,53,NaN,0.830189
81,2014,v,True,9,53,0.169811,NaN
82,2015,j,False,59,82,NaN,0.719512
83,2015,j,True,23,82,0.280488,NaN
84,2015,other,False,26,31,NaN,0.838710
85,2015,other,True,5,31,0.161290,NaN
86,2015,v,False,39,47,NaN,0.829787
87,2015,v,True,8,47,0.170213,NaN
88,2016,j,False,37,61,NaN,0.606557
89,2016,j,True,24,61,0.393443,NaN
90,2016,other,False,9,11,NaN,0.818182
91,2016,other,True,2,11,0.181818,NaN
92,2016,v,False,28,35,NaN,0.800000
93,2016,v,True,7,35,0.200000,NaN
94,2017,j,False,56,73,NaN,0.767123
95,2017,j,True,17,73,0.232877,NaN
96,2017,other,False,2,2,NaN,1.000000
97,2017,v,False,23,29,NaN,0.793103
98,2017,v,True,6,29,0.206897,NaN

In [55]:
Sjarrovii = go.Scatter(x = populationSize_aut_species.loc[(populationSize_aut_species.species=='j')
                                                              &(populationSize_aut_species.propAutotomized.notna())].year
           , y = populationSize_aut_species.loc[(populationSize_aut_species.species=='j')
                                               &(populationSize_aut_species.propAutotomized.notna())].propAutotomized
          ,name = 'Autotomized S. jarrovii')
Svirgatus = go.Scatter(x = populationSize_aut_species.loc[(populationSize_aut_species.species=='v')
                                                              &(populationSize_aut_species.propAutotomized.notna())].year
           , y = populationSize_aut_species.loc[(populationSize_aut_species.species=='v')
                                                &(populationSize_aut_species.propAutotomized.notna())].propAutotomized
          ,name = 'Autotomized S. virgatus')


data = [Sjarrovii, Svirgatus]
layout = go.Layout(
    title = 'Proportion Autotomized by Species and Year for Sceloporus jarrovii and S. virgatus 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Year',
        titlefont = dict(
            size = 18),
        range = [1999.5,2017.5]),
    yaxis = dict(
        tickformat=".2%",
        title = 'Proportion of Autotomized Lizards',
        titlefont = dict(
            size = 18),
    range=[0,1])
)
fig = go.Figure(
        data = data,
        layout = layout)
iplot(fig, filename = 'Proportion Autotomized by Species and Year for Sceloporus jarrovii and S. virgatus 2000-2017.html')

In [89]:
description(populationSize_aut_species,'species','propAutotomized',True)

,count,mean,std,min,25%,50%,75%,max,meanCI
species,,,,,,,,,
j,18.0,30.474747,6.345786,14.893617,27.647059,29.924242,36.201299,40.000000,not calculated
other,14.0,30.416127,15.633632,16.000000,18.398268,25.657895,39.090909,66.666667,not calculated
v,16.0,21.139680,6.269329,13.043478,17.011240,20.169492,23.452381,35.483871,not calculated

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

Let's look at how this distribution changes throughout the years.

<a id = 'resume'></a>

[Back to Top](#TOC)

### Morphometrics

In this section we describe the distributions of various morphometrics.

- [SVL](#SVL)
- [TL](#TL)
- [RTL](#RTL)
- [Mass](#SVL)

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

#### SVL

Now we examine the range and distribution of svl values by species.

[Back to Morphometrics](#Morphometrics)

We will use the [distribution](#distribution) function to do this and then plot these values.

- [Histogram of SVL](#SVLhist)

In [ ]:
print("svl values in the data set range from {} to {} for and are distributed across species and sex \
as displayed here:"\
      .format(df_firstInYear.svl.min(), df_firstInYear.svl.max()))
df_firstInYear.groupby(['species','sex']).svl.apply(distribution)

Let's plot these values.

##### Histogram of SVL values

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

In [ ]:
femaleSj = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='j')&(df_firstInYear.sex=='f')].svl,name='Sj females')
maleSj = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='j')&(df_firstInYear.sex=='m')].svl,name='Sj males')
femaleSv = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='v')&(df_firstInYear.sex=='f')].svl,name='Sv females')
maleSv = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='v')&(df_firstInYear.sex=='m')].svl,name='Sv males')

data = [maleSj,maleSv,femaleSj,femaleSv]
layout = go.Layout(
    title = 'Histogram of SVL at Capture for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'SVL at time of capture',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of SVL at Capture for CC 2000-2017')

 Outliers will be addressed in the Cleaning notebook, but will be removed for the remained of the analyses here.

In [ ]:
df_firstInYear.loc[(df_firstInYear.species=='v')&(df_firstInYear.svl==79)] = None
print("svl values in the data set range from {} to {} for and are distributed across species and sex \
as displayed here:"\
      .format(df_firstInYear.svl.min(), df_firstInYear.svl.max()))
df_firstInYear.groupby(['species','sex']).svl.apply(distribution)

#### TL

Now we examine the range and distribution of TL values by species.

[Back to Morphometrics](#Morphometrics)

We will use the [distribution](#distribution) function to do this and then plot these values.

- [Histogram of TL](#TLhist)

In [ ]:
print("tl values among intact lizards in the data set range from {} to {} for and are \
distributed across species and sex as displayed here:"\
      .format(df_firstInYear.tl.min(), df_firstInYear.tl.max()))
df_firstInYear.loc[df_firstInYear.autotomized==False].groupby(['species','sex']).tl.apply(distribution)

In [ ]:
print("tl values among autotomized lizards in the data set range from {} to {} for and are \
distributed across species and sex as displayed here:"\
      .format(df_firstInYear.tl.min(), df_firstInYear.tl.max()))
df_firstInYear.loc[df_firstInYear.autotomized==True].groupby(['species','sex']).tl.apply(distribution)

#### RTL

Now we examine the range and distribution of RTL values by species.

[Back to Morphometrics](#Morphometrics)

We will use the [distribution](#distribution) function to do this and then plot these values.

- [Histogram of RTL](#RTLhist)

In [ ]:
print("rtl values among autotomized lizards in the data set range from {} to {} for and are \
distributed across species and sex as displayed here:"\
      .format(df_firstInYear.rtl.min(), df_firstInYear.rtl.max()))
df_firstInYear.loc[df_firstInYear.autotomized==True].groupby(['species','sex']).rtl.apply(distribution)

## Captures

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

Let's take a look at the number of times that lizards have been captured.  To do this, we will group lizards by lizard number and then look at the maximum number of captures for each lizard and finally count the number of lizards that have a given number of captures.  We will use all captures for this

In [ ]:
print("The maximum number of captures among lizards in the data set range from {} to {} for and are \
distributed across species and sex as displayed here:"\
      .format(df_firstInYear.groupby('liznumber').capture.max().min(), df_firstInYear.groupby('liznumber').capture.max().max()))
df_firstInYear.loc[df_firstInYear.autotomized==True].groupby(['species','sex']).capture.apply(distribution)

In [ ]:
Sj = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='j')].groupby('liznumber').capture.max(),name='Sj')
Sv = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='v')].groupby('liznumber').capture.max(),name='Sv')

data = [Sj,Sv]
layout = go.Layout(
    title = 'Histogram of Maximum Number of Captures for CC 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Unique Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of Maximum Number of Captures for CC 2000-2017')

In [ ]:
SjIntact = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='j')&(df_firstInYear.autotomized==False)]\
                  .groupby('liznumber').capture.max(),name='Sj-Intact')
SvIntact = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='v')&(df_firstInYear.autotomized==False)]\
                  .groupby('liznumber').capture.max(),name='Sv-Intact')
SjAut = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='j')&(df_firstInYear.autotomized==True)]\
                  .groupby('liznumber').capture.max(),name='Sj-Autotomized')
SvAut = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.species=='v')&(df_firstInYear.autotomized==True)]\
                  .groupby('liznumber').capture.max(),name='Sv-Autotomized')
data = [SjIntact,SvIntact,SjAut,SvAut]
layout = go.Layout(
    title = 'Histogram of Maximum Number of Captures for CC 2000-2017 by Autotomy Status',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Unique Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of Maximum Number of Captures for CC 2000-2017 by Autotomy Status')

### Number of lizards (*Sj*) by year and sex

In [ ]:
df_firstInYear.groupby('year').sex.value_counts()

Pull out all individuals that we've recaught for Sj and writes to csv

In [ ]:
multicapToes=df_firstInYear.loc[(df_firstInYear.species=='j')& (df_firstInYear.toes!="")& (df_firstInYear.toes!='NA')]\
.toes.value_counts()[df_firstInYear.loc[df_firstInYear.species=='j']\
                     .toes.value_counts()>1].index.tolist()
df_firstInYear.loc[df_firstInYear.toes.isin(multicapToes)].sort_values(by=['toes','date']).shape[0]
# df_firstInYear.loc[df_firstInYear.toes.isin(multicapToes)].sort_values(by=['toes','date']).to_csv('multicaps.csv')
# multicapToes

### Maximum Number of Captures based on Tail condition
 - match for species, sex, size and location

In [ ]:
#separate species
dfF = df_firstInYear.loc[df_firstInYear.sex =='f']
dfM = df_firstInYear.loc[df_firstInYear.sex =='m']

females = go.Histogram(x = dfF.groupby('liznumber').capture.max(),name='females')
males = go.Histogram(x = dfM.groupby('liznumber').capture.max(),name='males')

data = [males,females]
layout = go.Layout(
    title = 'Maximum Number of Captures per Individual 2000-2017',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of Maximum Captures per Individual in Crystal Creek 2000 - 2017')

In [ ]:
SjFemales = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.sex =='f')&(df_firstInYear.species=='j')]\
                       .groupby('liznumber').capture.max(),name='Sj-females')
SjMales = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.sex =='m')&(df_firstInYear.species=='j')]\
                     .groupby('liznumber').capture.max(),name='Sj-males')
SvFemales = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.sex =='f')&(df_firstInYear.species=='v')]\
                       .groupby('liznumber').capture.max(),name='Sv-females')
SvMales = go.Histogram(x = df_firstInYear.loc[(df_firstInYear.sex =='m')&(df_firstInYear.species=='v')]\
                     .groupby('liznumber').capture.max(),name='Sv-males')

data = [SjMales,SjFemales,SvMales,SvFemales]
layout = go.Layout(
    title = 'Maximum Number of Captures per Individual 2000-2017 by sex and species',
    titlefont = dict(
        size = 20),
    xaxis = dict(
        dtick = 1,
        title = 'Maximum Number of Captures',
        titlefont = dict(
            size = 18)),
    yaxis = dict(
        title = 'Number of Lizards',
        titlefont = dict(
            size = 18)))

fig = go.Figure(
        data = data,
        layout = layout)
py.iplot(fig, filename = 'Histogram of Maximum Captures per Individual in Crystal Creek 2000 - 2017 by sex and species')

## Growth

- [SVL Growth](#SVL-Growth)
- [TL Growth](#TL-Growth)
- [RTL Growth](#RTL-Growth)
- [Mass Growth](#Mass-Growth)

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

Let's take a look at the number of times that lizards have been captured.  To do this, we will group lizards by lizard number and then look at the maximum number of captures for each lizard and finally count the number of lizards that have a given number of captures.

### SVL Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

What is the body size growth rate?

### TL Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

What is the tail size growth rate?

### RTL Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

What is the regrown tail size growth rate?

### Mass Growth

[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)

What is the body size growth rate in terms of MAss?

In [ ]:
df.capture.value_counts()

## Export Files
[Back to Top](#Table-of-Contents)

[Back to Analyze Data](#Analyze-Data)